body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.clock{
    display: block;
    color: white;
    font-size: 50px;
}

form{
    display: flex;
    flex-direction: row;
}

.hide{
    display: none;
}

.clickable{
    cursor: pointer;
}

